<!DOCTYPE html>
<html>
<body>

<h1>Computer Vision - Deep Learning - Neural Network</h1>
<p>Classifies 3 types of bears (Black, Grizzly, Teddy) and Humans</p>
<br>
<p>Take a picture from your phone or the internet, upload it and this app will tell you what it sees. There are only four categories (Black bears, Grizzly bears, Teddy bears, and Humans)</p>

<form method="post" enctype=multipart/form-data>
	<input type="file" name="file"/>
	<input type="submit"/>
</form>

<p>{{message}}</p>


<!-- <button onclick="myFunction()">Click me</button>

<script>
function myFunction() {
  alert("I am an alert box!");
}
</script> -->

</body>
</html>
